@import 'https://code.highcharts.com/css/highcharts.css';

#container {
    display: none;
    height: 400px;
    max-width: 800px;
    margin: 0 auto;
}
/* Link the series colors to axis colors */
.highcharts-color-0 {
    display: none;
    fill: #FF0000;
    stroke: #BADA55;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
    stroke: #00FF00;
}
.highcharts-axis.highcharts-color-0 text {
    fill: #0000FF;
}
.highcharts-color-1 {
    fill: #AABBCC;
    stroke: #DDEEFF;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
    stroke: #556677;
}
.highcharts-axis.highcharts-color-1 text {
    fill: #FFEEDD;
}
.highcharts-yaxis .highcharts-axis-line {
    stroke-width: 2px;
}
